# Arquivos do backend
backend/node_modules/
backend/.env
backend/package-lock.json
backend/logs/
backend/*.log

# Arquivos do mobile
mobile/node_modules/
mobile/.expo/
mobile/.expo-shared/
mobile/package-lock.json
mobile/.env

# Arquivos gerais do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Arquivos de build
mobile/android/
mobile/ios/
mobile/web-build/
mobile/.expo-internal/
mobile/package.json/
backend/package-lock.json/
